@import '../../styles/app';

.row-altered{
    flex-basis: 0;
    .members{
        flex-grow: 1; 
        flex-shrink: 0;
        max-width: 180px;
        cursor: pointer;
    }   
    .members:not(:first-child) {
        padding-left: 15px;
    } 
}