@import '../../styles/app.scss';

.color_line{
    background-color: #bdbdbd;
}

.team_name:hover{
    background-color: #fff3da;
}

.margin{
    margin-bottom: 28px;
}
.selectedTab{
    background-color: #fff3da;
}