.icon_size{
    font-size: 20px;
    cursor: pointer;
}

.comment{
    white-space: pre-line;
}

.submit_msg{
    font-size: 10px;
}

@media (max-width: 575.98px) {
    .search{
        width: 100% !important;
    }
    .search_title{
        display: none;
    }
  }
