@import '../../styles/app';

table {

    td,
    th {
        font-weight: $font-weight-normal;
    }

    tbody tr {
        &:nth-child(odd) {
            background: $gray-100;
        }

        td {
            min-width: 100px;
        }
    }
}

.parentdiv {
    border-bottom: 1px solid #d6dee5;
}

.parentdiv:last-child {
    border-bottom: none;
}

.parentdiv:first-child {
    border-bottom: none;
}