@import '../../styles/app.scss';

table {
  td, th {
    font-weight: $font-weight-normal;
  }

  tbody tr {
    &:nth-child(odd) {
      background: $gray-100;
    }

    td {
      min-width: 100px;
    }
  }
}

.number {
  display: inline-block;
  padding: 4px 10px;
  color: #fff;
  border-radius: 4px;
  background: #717699;
  margin: 0px 5px;
  cursor: pointer;
}
.number:hover,
.number.active {
  background: #00b698;
}
