@import "../../styles/app";

.hover_variant:hover {
  color: #9964e3 !important;
}
.white-space-pre {
  white-space: pre-line;
}
.box {
  border: 2px solid #e6b88b;
  border-radius: 10px;
  padding: 10px;
}

