@import "../../styles/app";

.name {
  font-weight: 600;
  font-size: 15px;
}

.post {
  padding-bottom: 5px;
  font-size: 12px;
  font-weight: 500;
}

.employee {
  border-radius: 8px;
  color: #343a40;
}

.column{
  width: 200px;
  cursor: pointer;
}

.activeClass {
  background-color: #e5d8f8 ;
  color: white;
  background: yellow;
}

.activeClassWeekly{
  border: 1px solid #9964e3 !important;
  color: #9964e3;
  background-color: #e5d8f8 !important; 
}

.close {
  color: white;
}

.rating-header {
  font-weight: 600;
  color: #9963e3;
}

.Feedback{
  width: 100%;
  border-bottom: 1px solid #c1ccd3 !important;
  margin-left: 5px;
  font-weight: 600;
  font-size: 15px;
}

.font-weight {
  font-weight: 400;
  font-size: 13.5px;
}

.bold {
  font-weight: 550;
}

.input {
  border: 0px solid;
  background: transparent;
  width: 100%;
}
.collapse-Button:hover{
  // color: #c1ccd3 !important;
}
.collapse-Button {
  text-align: left !important;
  width: 100%;
  color: #9963e3 !important;
  font-weight: 600 !important;
  background: transparent !important;
  border: none !important;
  border-radius: 0PX !important;
  border-bottom: 1px solid #c1ccd3 !important;
  position: relative;
  &:hover::after{
    color: #c1ccd3 !important;
  }
  &::after {
    content: "";
    border-style: solid;
    border-width: 0px 0px 3px 3px;
    padding: 3px;
    position: absolute;
    top: 10px;
    transition: transform .3s;
    right: 10px;
    transform: rotate(-45deg);
  }
}
.collapse-Button:not(.collapsed)::after {
  transition: transform .3s;
  transform: rotate(-225deg);
}

.bold-text{
  font-weight: 450;
}

.pointer{
  cursor: pointer;
  &.fa {
    font-size: 30px;
    transform: translateY(1px);
    padding-right: 3.8px;
  }
}


.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.first-box{
  background-color:  #e5d8f8;
  color: #9963e3;
}