@import '../../styles/app';

.areaBorder {
    border-bottom: 1px solid #d6dee5;
}

.areaBorder:last-child {
    border-bottom: none;
}

.capitalize{
    text-transform: uppercase; 
}

.areaBorder:first-child {
    border-bottom: none;
}