@import '../../styles/app.scss';

.hover_variant:hover {
    color: #9964e3 !important;
}
.white-space-pre {
    white-space: pre-line;
    word-wrap: break-word;
}
.report-wysiwyg {
    /deep/ ol li {
      list-style: decimal !important;
      margin-left: 30px;
    }
    /deep/ ul li {
      list-style: disc !important;
      margin-left: 30px;
    }
  }