@import "../../styles/app";

.name {
  font-weight: 600;
  font-size: 15px;
}

.post {
  padding-bottom: 5px;
  font-size: 12px;
  font-weight: 500;
}
.borderColor {
  border-color: red;
}
.employee {
  border-radius: 8px;
  // background-color: #fff3da !important;
  color: #343a40;
  // min-width: 160px;
}

.column {
  width: 200px;
  cursor: pointer;
}

.activeClass {
  // background-color: #ffc247 !important;
  // background-color: #e5d8f8 !important;
  // color: white;
  border: 1px solid #9964e3 !important;
  color: #9964e3;
  background-color: #e5d8f8 !important;
}

.alert-class {
  background-color: #fff0d1 !important;
  color: #ffc247 !important;
}
.close {
  // color: #ffc247 !important;
}

.rating-header {
  font-weight: 600;
  color: #798892;
}

.feedback {
  width: 100%;
  border-bottom: 1px solid #c1ccd3 !important;
  margin-left: 5px;
  font-weight: 600;
  font-size: 15px;
}

.font-weight {
  font-weight: 400;
  font-size: 13.5px;
}

.bold {
  font-weight: 550;
}

.input {
  border: 0px solid;
  background: transparent;
  width: 100%;
}
.collapse-button:hover {
  // color: #3c484f !important;
}
.collapse-button {
  text-align: left !important;
  width: 100%;
  // font-size: 24px !important;
  font-weight: 600 !important;
  background: transparent !important;
  border: none !important;
  border-radius: 0px !important;
  border-bottom: 1px solid #c1ccd3 !important;
  position: relative;
  &:hover::after {
    color: #3c484f !important;
  }
  &::after {
    content: "";
    border-style: solid;
    border-width: 0px 0px 3px 3px;
    padding: 3px;
    position: absolute;
    top: 10px;
    transition: transform 0.3s;
    right: 10px;
    transform: rotate(-45deg);
  }
}
.collapse-button:not(.collapsed)::after {
  transition: transform 0.3s;
  transform: rotate(-225deg);
}

.bold-text {
  font-weight: 450;
}

.pointer {
  cursor: pointer;
  &.fa {
    font-size: 30px;
    transform: translateY(1px);
    padding-right: 3.8px;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

// *    comment box style    *//
.tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #E8E8E8	;
}

.tip-up {
  top: -25px; /* Same as body margin top + border */
  left: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
}

.tip-down {
  bottom: -25px;
  left: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.tip-left {
  top: 10px;
  left: -25px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.tip-right {
  top: 10px;
  right: -25px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.dialogbox .body {
  position: relative;
  // max-width: 300px;
  height: auto;
  margin: 20px 10px;
  padding: 5px;
  background-color: #F5F5F5;
  border-radius: 3px;
  border: 5px solid #E8E8E8	;
}

.body .message {
  min-height: 30px;
  border-radius: 3px;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.5;
  color: #797979;
}
